.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.square {
  font-size: 36px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid #999;
  float: left;
}

.square:hover {
  background-color: #ccc;
}

.game-info {
  margin-left: 20px;
  font-size: 24px;
}